.home {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 80px;

    &__cardTop {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-color: $jiangrenGreen;
        background-image: url(../assets/sp_main_bg.png);
        background-size: cover;

        .photo {
            width: 300px;
            height: 300px;
            position: relative;
            top: 30px;
            transition: top ease 0.5s;

            &:hover {
                top: 20px;
            }
        }

        .title {
            h1 {
                font-size: 60px;
                font-weight: 700;
                font-family: 'Roboto', Helvetica, sans-serif;
            }

            .icons>a {
                width: 24px;
                height: 24px;
                border-radius: 24px;
                display: inline-block;
                text-align: center;
                background-color: white;
                margin: 0 5px;
            }
        }
    }

    &__cardBottom {
        height: 300px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;

        a,
        #me {
            color: $jiangrenGreen;
        }

        .info {
            font-size: 15px;
        }
    }
}