* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */
}


.logo {
    border: none;
    margin-left: 3.5%;
    background: transparent;
    font-size: 30px;
    /* font-weight: 1000; */
}

form.search-bar input {
    padding: 10px;
    border: 1px solid #CCCCCC;
    /* width: 90%; */
    font-size: 15px;
    border-right: none;
    background: transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    /* font-weight: 1000; */
}

form.search-bar button {
    /* width: 10%; */
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    background: transparent;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.sign-in {
    /* width: 49%; */
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    /* font-weight: 1000; */
    padding: 5px;
    margin-right: 2px;
}

.sign-in:hover {
    background-color: #8CC63E;
    color: white;
}

.sign-up {
    /* width: 49%; */
    border: none;
    color: white;
    background-color: #8CC63E;
    border-radius: 5px;
    font-size: 20px;
    /* font-weight: 1000; */
    padding: 5px;
}

.sign-up:hover {
    background-color: #74a139;
}

.top-bar {}