@import './color';

body {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbarJR {
    .logo {
        #doe {
            color: $jiangrenGreen;
        }
    }

    .collapse .navbar-nav li {
        a {
            border: 2px solid transparent;
            font-size: 14px;
            ;

            &:hover {

                border-bottom: 2px solid $jiangrenGreen;
            }
        }
    }
}



footer {
    flex: 1;
}