@import "./color";

.service {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 80px;
    margin-bottom: 100px;
    font-family: 'Roboto', Helvetica, sans-serif;

    .myServices {

        &__title {
            font-size: 21px;
            padding: 20px 30px;
            font-weight: bold;

            .service-text {
                color: $jiangrenGreen;
            }
        }

        .serviceCards {
            position: relative;

            .image-container {
                width: 120px;
                height: 120px;
                background-color: #f1efef;
                border-radius: 100px;
                display: flex;
                justify-content: center;

                img {
                    height: 64px;
                    margin: 26px;
                }
            }

            h5 {
                padding-top: 15px;
                font-size: 17px;
                font-weight: 600;
            }

            p {
                margin: 5px 20px;
                font-size: 15px;
                font-weight: 400;
            }
        }

    }

    .clients {
        padding-bottom: 80px;

        &__title {
            font-size: 21px;
            padding: 20px 30px;
            font-weight: bold;
        }

        .clientList {
            width: 90%;
            align-self: center;

            &__client {
                display: flex;
                justify-content: center;

                img {
                    height: 80px;
                    width: 80px;

                }
            }
        }
    }
}